/* Clases reutilizables */
.page-color {
  background-color: #24292E;
  color: #F64D27;
  text-align: center;
}

.btn {
  background-color: #FF9033;
  border-radius: 0.2rem;
  border-style: none;
  color: #FFFFFF;
  margin: 1rem 0;
  padding: 0.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
nav ul li {
  list-style: none;
}

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

.background {
  background-image: url('../assets/images/image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50vh;
}

.tagline {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menu-hamburguer {
  display: block;
}

.menu-option {
  display: none;
}

/* Sections */
.presentation, .contact {
  text-align: justify;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1, h3, h4 {
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 0.8rem;
}

.article-container {
  border: 1px solid #566573;
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 21vh;
}

.article-demo {
  padding: 0.5rem;
}

.btn-container {
  padding: 0 1rem;
  background-color: #E1E1E1;
}

/* Footer */
footer {
  padding: 1rem;
}

@media (min-width: 768px) {
  .menu-hamburguer {
    display: none;
  }

  .tagline {
    font-size: 1rem;
  }

  .menu-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article-container {
    margin-left: 0;
  }

  .container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
