* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clases reutilizables */
.page-color {
  background-color: #24292E;
  color: #F64D27;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.white-box {
  text-align: justify;
  padding: 1rem 2rem;
  display: inline-block;
}

.btn {
  background-color: #FF9033;
  border-radius: 5px;
  border-style: none;
  color: #FFFFFF;
  margin: 1rem 0;
  padding: 10px 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
nav {
  font-size: 20px;
  overflow: auto;
  padding: 1rem 2rem;
}

nav h2 {
  padding: 5px 10px;
}

nav ul li {
  list-style: none;
  float: left;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.background {
  background-image: url('../assets/images/image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.tagline {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  font-size: 28px;
  padding: 3rem 2rem;
}

.menu-hamburguer {
  padding: 10px;
  display: block;
}

.menu-option {
  display: none;
}

/* Sections */
.presentation {
  width: 100%;
}

input {
  font-size: 18px;
}

.contact {
  margin-top: 20px;
  width: 100%;
}

h1, h3, h4 {
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

h3, h4 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.article-container {
  width: 100%;
  border: 1px solid #566573;
  text-align: justify;
  margin: 1rem 0;
}

img {
  width: 100%;
  height: 200px;
}

.article-demo {
  padding: 1rem;
}

.btn-container {
  padding: 0 1rem;
  background-color: #E1E1E1;
}

/* Footer */
footer {
  padding: 2rem;
}

@media (min-width: 768px) {
  .white-box {
    padding: 1rem 7rem;
  }

  nav {
    font-size: 16px;
    padding: 1rem 7rem;
  }

  .tagline {
    padding: 5rem 7rem;
  }

  .menu-hamburguer {
    display: none;
  }

  .menu-option {
    display: block;
  }

  .presentation {
    margin-right: 10px;
    width: 60%;
  }

  input {
    font-size: 14px;
  }

  .contact {
    margin: 0;
    width: 30%;
  }

  h3, h4 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .article-container {
    width: 30%;
    margin: 1.1rem;
  }
}
